<section id="footer">
        <div class="container">
            <div class="row">
                <div class="text-left col-lg-12">
                    <img src="../../../assets/img/logo.png">
                    <p class="footer-text">Công ty cổ phẩn Okiva</p>
                </div>
            </div>

            <div class="footer-content row">
                <div class="col-md-5 col-sm-12">
                    <p><b>MSDN: 0315191541</b>
                        Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh
                        cấp ngày 30/07/2018
                    </p>

                    <p><b>Trụ sở chính:</b>
                        Lầu 9, Tòa nhà Vietcomreal, 68 Nguyễn Huệ, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt
                        Nam.
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p>Quy Trình Giải Quyết Tranh Chấp và Khiếu Nại
                        Chính Sách Thanh Toán
                        Chính Sách Bảo Vệ Thông Tin Cá Nhân
                        Quy Chế Hoạt Động
                    </p>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p>Follow us</p>
                    <ul class="footer-logos">
                        <li><a href="#"><img src="../../../assets/img/footer-twitter.png" alt=""></a></li>
                        <li><a href="#"><img src="../../../assets/img/footer-fb.png" alt=""></a></li>
                        <li><a href="#"><img src="../../../assets/img/footer-insta.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="row copyright justify-content-end">
                <p>© 2019 Copyrigts Okiva. All rights reserved.</p>
            </div>

        </div>
    </section>