<header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <div class="logo">
                <img src="../../../assets/img/logo.png">
                <span>+84 283 111 347</span>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
            <div class=" navbar-nav ">
                <a class="nav-item nav-link active" href="#">Về Okiva <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link"  routerLink="/feature">Tính năng</a>
                <a class="nav-item nav-link" routerLink="/support">Hỗ trợ livestream</a>
                <a class="nav-item nav-link"  routerLink="/recruitment">Tuyển dụng</a>
                <a class="nav-item nav-link"  routerLink="/contact">Liên hệ</a>
                <a class="final-item nav-item nav-link" href="#">
                    <img src="../../../assets/img/fb.png">
                </a>
                <span class="language"><img src="../../../assets/img/EN.png">English</span>
            </div>
        </div>
    </nav>
</header>