<section class="banner">
    <img class="img-fluid" src="../../../assets/img/page-2-banner.png" alt="">
</section>
<section class="feature-highlight">
    <div class="container">
        <div class="row">
            <div class="col-md-7"><img class="img-fluid" src="../../../assets/img/phone-1.png" alt=""></div>
            <div class="col-md-5">
                <div class="title">
                    <h1>Tính năng nổi bật</h1>
                </div>
                <div class="content pt-5">
                    <ul>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/arrow.png" alt="">
                            </span>
                            Công nghệ livestream độc lập
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/arrow.png" alt="">
                            </span>
                            Tốc độ livestream nhanh và ổn định
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/arrow.png" alt="">
                            </span>
                            Livestream đồng thời qua facebook để thu hút Khách hàng tiềm năng
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/arrow.png" alt="">
                            </span>
                            Quản lý hàng hoá/ kho hàng/ đơn hàng hiệu quả
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/arrow.png" alt="">
                            </span>
                            Vừa livestream vừa add sản phẩm
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<img class="img-fluid" src="../../../assets/img/grey-wave.png" alt="">
<section class="exception">
    <div class="container text-center">
        <h1>Tính năng vượt trội</h1>
        <div class="row">
            <div class="col-md-5 p-2">
                <div class="title"><span class="pr-2"><img src="../../../assets/img/arrow-white.png" alt=""></span>
                    Chốt ngay đơn
                    hàng ngay trong livestream</div>
                <div class="image"><img class="img-fluid" src="../../../assets/img/video.jpg" alt=""></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 p-2">
                <div class="title"><span class="pr-2"><img src="../../../assets/img/arrow-white.png" alt=""></span> Vừa
                    livestream
                    vừa thêm sản phẩm</div>
                <div class="image"><img class="img-fluid" src="../../../assets/img/video.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>

<img class="img-fluid" src="../../../assets/img/red-wave.png" alt="">
<section class="participate">
    <div class="container">
        <div class="row">
            <div class="col-md-5"><img class="img-fluid" src="../../../assets/img/phone-participate.png" alt=""></div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="title pb-4">
                    <h1>Tham gia ngay <span>vào hệ thống</span> bán hàng livestream Okiva</h1>
                </div>
                <div class="content pb-4">Đăng ký đơn giản và nhanh chóng. Trở thành người bán hàng livestream và kiếm
                    thêm
                    thu nhập ngay hôm nay</div>
                <div class="register-button"><button>Đăng ký ngay</button></div>
            </div>
        </div>
    </div>
</section>