<style>
    .feature-highlight {
        padding-top: 150px;
    }

    .feature-highlight .title h1 {
        font-weight: 800;
    }

    .feature-highlight .content ul {
        margin-left: -40px;
    }

    ul li {
        list-style: none;
    }
</style>
<section class="banner">
    <img class="img-fluid" src="../../../assets/img/carousel-3.jpg" alt="">
</section>
<section class="feature-highlight">
    <div class="container">
        <div class="row">
            <div class="col-md-7"><img class="img-fluid" src="../../../assets/img/feature-img.png" alt=""></div>
            <div class="col-md-5">
                <div class="title">
                    <h1>Tính năng nổi bật</h1>
                </div>
                <div class="content pt-5">
                    <ul>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Công nghệ livestream độc lập
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Tốc độ livestream nhanh và ổn định
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Livestream đồng thời qua facebook để thu hút Khách hàng tiềm năng
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Quản lý hàng hoá/ kho hàng/ đơn hàng hiệu quả
                        </li>
                        <li class="pb-5">
                            <span class="pr-2">
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Vừa livestream vừa add sản phẩm
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exception {
        padding-top: 100px;
    }

    .exception h1 {
        font-weight: 800;
    }

    .exception .title {
        border: 1px solid #f21733;
        height: 50px;
        background: #f21733;
        border-top-right-radius: 15px;
        border-bottom-right-radius:15px;
        color: white;
        margin-bottom: 20px;
        line-height: 50px;
        text-align: center;
    }
</style>
<section class="exception">
    <div class="container text-center">
        <h1>Tính năng vượt trội</h1>
        <div class="row">
            <div class="col-md-5 p-2">
                <div class="title"><span class="pr-2"><img src="../../../assets/img/location.png" alt=""></span> Chốt ngay đơn
                    hàng ngay trong livestream</div>
                <div class="image"><img class="img-fluid" src="../../../assets/img/video.jpg" alt=""></div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 p-2">
                <div class="title"><span class="pr-2"><img src="../../../assets/img/location.png" alt=""></span> Vừa livestream
                    vừa thêm sản phẩm</div>
                <div class="image"><img class="img-fluid" src="../../../assets/img/video.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>
<style>
    .participate{
        padding-top: 100px;
    }
  .participate .register-button button {
        padding: 20px 30px;
        width: 300px;
        border: 1px solid #50e3c2;
        background: #50e3c2;
        border-radius: 27.5px;
    }
</style>
<section class="participate">
    <div class="container">
        <div class="row">
            <div class="col-md-5"><img class="img-fluid" src="../../../assets/img/booking-img.png" alt=""></div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="title pb-4">
                    <h1>Tham gia ngay <span>vào hệ thống</span> bán hàng livestream Okiva</h1>
                </div>
                <div class="content pb-4">Đăng ký đơn giản và nhanh chóng. Trở thành người bán hàng livestream và kiếm thêm
                    thu nhập ngay hôm nay</div>
                <div class="register-button"><button>Đăng ký ngay</button></div>
            </div>
        </div>
    </div>
</section>