.feature-highlight {
    padding-top: 150px;
    
}

.feature-highlight .title h1 {
    font-weight: 800;
 
}

.feature-highlight .content ul {
    margin-left: -40px;
}

ul li {
    list-style: none;
}
.exception {
    padding-top: 100px;
    background: #f6f6f6;
}

.exception h1 {
    font-weight: 800;
    padding-bottom: 50px;
}

.exception .title {
    border: 1px solid #f21733;
    height: 50px;
    background: #f21733;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    margin-bottom: 20px;
    line-height: 50px;
    text-align: center;
}
.participate {
    padding-top: 100px;
    background: url('../../../assets/img/red-bg-2.png');
    padding-bottom: 100px;
}

.participate .register-button button {
    padding: 20px 30px;
    width: 300px;
    border: 1px solid #50e3c2;
    background: #50e3c2;
    border-radius: 27.5px;
}

.participate .register-button button:hover {
    background: white;
}