<section id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-ride="true" data-interval="5000">
                <img class="d-block w-100" src="../../../assets/img/carousel-1.jpg" alt="First slide">
            </div>
            <div class="carousel-item" data-ride="true" data-interval="5000">
                <img class="d-block w-100" src="../../../assets/img/carousel-1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item" data-ride="true" data-interval="5000">
                <img class="d-block w-100" src="../../../assets/img/carousel-1.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="feature-img col-md-6">
                <img src="../../../assets/img/feature-img.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="features-text">
                    <h2>Tính năng vượt trội</h2>
                    <ul>
                        <li><span><img src="../../../assets/img/feature-logo-1.png" alt=""></span>Mua và bán qua
                            livestream/ video
                        </li>
                        <li><span><img src="../../../assets/img/feature-logo-2.png" alt=""></span>Chốt đơn hàng ngay
                            trên Livestream
                        </li>
                        <li><span><img src="../../../assets/img/feature-logo-3.png" alt=""></span>Tính năng vừa
                            livestream vừa thêm
                            sản phẩm</li>
                        <li><span><img src="../../../assets/img/feature-logo-4.png" alt=""></span>Live đồng thời trên
                            facebook</li>
                    </ul>
                    <div class="watch"><span><img src="../../../assets/img/play-btn.png" alt=""></span>Watch Video</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="livestream">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="live-text">
                    <p class="mb-0">Trở thành nhà</p>
                    <h2>Livestream<br>bán hàng</h2>
                    <p>Trên Okiwa</p>
                    <p>
                        <b>Bán nhanh / chốt nhanh</b><br>
                        Tiếp cận hàng ngàn người mua nhờ tính năng livestream đồng thời qua facebook<br>
                        <br>
                        <b>Thu nhập siêu to siêu khổng lồ</b><br>
                        Kiếm thu nhập khủng/ chốt hàng ngàn đơn<br>
                        <br>
                        <b>Cơ hội thể hiện</b><br>
                        Cơ hội trở thành streamer/ bán hàng nổi tiếng được nhiều người săn đón<br>
                        <br>
                        <b>Gia nhập cộng đồng triệu view</b><br>
                        Sân chơi thể hiện tài năng. Sở hữu video triệu view.<br>
                    </p>
                </div>
                <div class="button-group">
                    <button class="custom-btn">Đăng ký ngay</button>
                    <button class="custom-btn custom-2nd-btn">Kênh hỗ trợ live / bán</button>
                </div>

            </div>

            <div class="col-md-6 live-img">
                <img src="../../../assets/img/livestream.png" alt="">
            </div>

        </div>
    </div>
</section>

<section id="support">
    <img class="wave-img-unset" width="100%" src="../../../assets/img/wave-bottom-2.jpg">
    <h1>Hỗ trợ Shop/Livestream</h1>
    <div class="container">
        <div class="row grid-item">
            <div class="text-center col-md-4">
                <img src="../../../assets/img/sp-item-1.png" alt="">
                <p>Mẫu livestream</p>
            </div>
            <div class="text-center col-md-4">
                <img src="../../../assets/img/sp-item-2.png" alt="">
                <p>Thanh lý hàng tốn</p>
            </div>
            <div class="text-center col-md-4">
                <img src="../../../assets/img/sp-item-3.png" alt="">
                <p>Không gian livestream/ quảng cáo sản phẩm</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="custom-btn btn-red">Tìm hiểu thêm</button>
            </div>
        </div>

    </div>
    <img src="../../../assets/img/sp.jpg" alt="" width="100%">
</section>

<section id="video">
    <div class="container">
        <div class="row">
            <div class="video-img col-md-6">
                <img src="../../../assets/img/video.jpg" alt="">
            </div>
            <div class="video-content col-md-6">
                <h3>Tải Okiva App và tham gia mua bán ngay hôm nay.</h3>
                <p>Hiện đã có mặt trên</p>
                <div class="download-btn-1">
                    <a href="#">
                        <img src="../../../assets/img/download on the app store.png" alt="">
                    </a>
                    <span class="qr-img" href="#">
                        <img src="../../../assets/img/qr-1.png" alt="">
                    </span>


                </div>
                <div class="download-btn-2">
                    <a href="#">
                        <img src="../../../assets/img/get it on google.png" alt="">
                    </a>
                    <span class="qr-img" href="#">
                        <img src="../../../assets/img/QR-2.png" alt="">
                    </span>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <img class="wave-img-unset" width="100%" src="../../../assets/img/wave-bottom.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 contact-left">
                <ul>
                    <li class="pb-2">
                        <div class="img text-center"><img src="../../../assets/img/phone.png" alt=""></div>
                        <div class="contact-left-text">
                            <div class="title"> <b>Phone</b> </div>
                            <div class="content">(+84) 9286 250 37</div>
                        </div>
                    </li>
                    <li class="pb-2">

                        <div class="img text-center"><img src="../../../assets/img/location.png" alt=""></div>

                        <div class="contact-left-text">
                            <div class="title"> <b>Office</b> </div>
                            <div class="content">Lầu 8, 454 Nguyễn Thị Minh Khai,<br>quận 3, TP.Hồ Chí Minh, Việt Nam</div>
                        </div>
                    </li>
                    <li class="pb-2">

                        <div class="img text-center"><img src="../../../assets/img/mail.png" alt=""></div>

                        <div class="contact-left-text">
                            <div class="title"> <b>Email</b> </div>
                            <div class="content">lienhe@okiva.vn</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12 contact-right form">
                <h2 class="pb-3">Gửi tin nhắn</h2>
                <div class="pb-3"><input type="text" class="pb-2" type="" placeholder="Name" id="name"></div>
                <div class='row pb-3'>
                    <div class='col-sm-6 pb-3 text-left'><input type="text" placeholder="Email" id="email"> </div>
                    <div class='col-sm-6 pb-0 text-right'><input type="text" placeholder="Phone" id="phone"> </div>
                </div>
                <div class="pb-3">
                    <textarea type="text" placeholder="Message" id="message"></textarea>
                </div>
                <div class="btn-submit text-right pb-5 pt-3">
                    <button>
                        <b>Gửi Ngay!</b>
                    </button>
                </div>
            </div>
        </div>
        <div class="map">
            <img class="map img-fluid" src="../../../assets/img/map-1.jpeg" alt="">
        </div>
    </div>
</section>