.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin:5px;
  }
.carousel-indicators .active{
    background-color: #2EFE9A;
} 
ul li {
    list-style: none;
}


        .contact ul{
            padding:0;
        }
        .contact ul li {
            display: flex;
            align-items: center;
        }
        .contact ul li {
            display: flex;
            align-items: center;
        }
        .contact .contact-left-text{
            padding-left: 10px;
        }
        .contact .img {
            height: 42px;
            width: 43px;
            background: #f21733;
            border-radius: 100%;
        }

        .contact .img img {
            padding-top: 10px;
        }

        .btn-submit button {
            border: 2px solid #f21733;
            background: white;
            color: #f21733;
            border-radius: 27.5px;
        }

        .form ul li {
            padding: 10px;
        }

        .form #name {
            height: 55px;
            width: 100%;
            border-radius: 27.5px;
            border: 1px solid #B1B3B7
        }

        .form #email {
            height: 55px;
            width: 100%;
            border-radius: 27.5px;
            border: 1px solid #B1B3B7
        }

        .form #phone {
            height: 55px;
            width: 100%;
            border-radius: 27.5px;
            border: 1px solid #B1B3B7
        }

        .form #message {
            height: 55px;
            width: 100%;
            height: 142px;
            border-radius: 14px;
            border: 1px solid #B1B3B7
        }
        .contact-left ul{
          padding-top: 75px;
        }
        .btn-submit button{
            height: 60px;
            width: 35%;
        }

::placeholder {
color: #B1B3B7;
font-size: 14px;
padding:10px;
}