<section id="carousel">
        <section id="carousel">
                <div class="swiper-container" [swiper]="config">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <img class="img-fluid" src="../../../assets/img/carousel-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <img class="img-fluid" src="../../../assets/img/carousel-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <img class="img-fluid" src="../../../assets/img/carousel-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
        </section>
</section>

<section id="chance-for-jobs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="search-bar" action="/action_page.php">
                    <div class="search-content">
                        <input class="search-text" type="text" class="custom-text-input" placeholder="Bạn tìm gì...">
                        <select class="list-box" name="cities">
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Hà Nội">Hà Nội</option>
                        </select>
                    </div>

                    <input class="search-btn" type="submit" value="Tìm kiếm">
                </form>
            </div>
        </div>
        <h1>Cơ hội nghề nghiệp</h1>

        <div class="row">
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item">
                    <img class="small-ico" src="../../../assets/img/chance-ico-1.png">
                    <div class="chance-item-content">
                        <h3>Graphic designer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item ">
                    <img class="small-ico" src="../../../assets/img/chance-ico-2.png">
                    <div class="chance-item-content">
                        <h3>Graphic designer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item ">
                    <img class="small-ico" src="../../../assets/img/chance-ico-3.png">
                    <div class="chance-item-content">
                        <h3>Graphic designer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item ">
                    <img class="small-ico" src="../../../assets/img/chance-ico-4.png">
                    <div class="chance-item-content">
                        <h3>Livestreamer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item ">
                    <img class="small-ico" src="../../../assets/img/chance-ico-5.png">
                    <div class="chance-item-content">
                        <h3>Graphic designer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="mb-long chance-item-container col-md-4">
                <div class="chance-item ">
                    <img class="small-ico" src="../../../assets/img/chance-ico-6.png">
                    <div class="chance-item-content">
                        <h3>Graphic designer</h3>
                        <p class="mb-40">Marketing & Communications<br>Ho Chi Minh</p>
                        <p>6 Job Openings</p>
                    </div>
                    <div class="detail-btn text-center">
                        <a href="#">Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="custom-btn btn-red">Xem tất cả</button>
        </div>
    </div>

</section>

<section id="work-together">
    <div class="relative container">
        <div class="row">
            <div class="col-md-6">
                <h1>Làm việc cùng OKIVA </h1>
            </div>
            <div class=" col-md-6">
                <div class="float-item float-item-1">
                    <h3>Nơi để thử thách</h3>
                    <p>phát triển mạnh trong một nền văn hóa doanh nghiệp coi trọng sự đóng góp của mọi thành viên
                        trong nhóm đối với mục tiêu cải thiện cuộc sống của chúng tôi.</p>
                </div>
                <div class="float-item float-item-2">
                    <h3>Nơi để thể hiện</h3>
                    <p>làm việc chăm chỉ và chơi hết mình. Các đội của chúng tôi phát triển như một khi họ vượt qua
                        thử thách và vui chơi trên đường đi.</p>
                </div>
                <div class="float-item float-item-3">
                    <h3>Nơi để trải nghiệm</h3>
                    <p>trải nghiệm sự phát triển siêu chuyên nghiệp và tất cả những thách thức đòi hỏi. Phát triển
                        kỹ năng của bạn trong khi làm việc để giải quyết các vấn đề thực tế trong khu vực.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="come-to-us">
    <img class="float-img" src="../../../assets/img/item.png">
    <div class="container">
        <div class="row">
            <div class="offset-md-6 offset-sm-5 col-md-6">
                <div class="come-content">
                    <h1>Về đội của Okiva</h1><span> để được</span>
                    <h1 class="sub-h1">thể hiện<br>đam mê</h1>
                    <div class="come-text">
                        <p>
                            Mỗi ngày chúng tôi làm việc cùng nhau để thay đổi cách người dùng trải nghiệm các điểm
                            đến
                            mà họ yêu thích.
                        </p>
                        <a class="custom-btn">Ứng tuyển ngay</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>