<section class="banner">
    <div class="banner-support">
        <div class="title">
            <h5>Dịch vụ</h5>
            <h1>Hỗ trợ <br>Livestream</h1>
        </div>
        <div class="banner-button">
            <button>Book phòng livestream</button>
            <button>Bán hộ qua livestream</button>
            <button>Ký gửi hàng hoá</button>
        </div>
    </div>
</section>
<section class="booking-room pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center pr-5">
                <img class="img-fluid" src="../../../assets/img/booking-img.png" alt="">
                <button id="register">Đăng ký ngay</button>
            </div>
            <div class="col-md-4 pt-6 text-left">
                <div id="booking-room-title">
                    <h1 style="font-weight:800">Đặt phòng livestream sản phẩm</h1>
                </div>
                <div id="booking-room-content">
                    <ul>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            10 backgrounds design khác nhau
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            2 đèn công suất
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            1 đèn Kino 6 bóng
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            1 đèn ring livestream
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            2 chân đèn
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            2 trụ cắm điện thoại
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            1 bluetooth microphone cho iphone
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            2 xào treo đồ
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            2 kệ để đồ
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            1 ghế sofa
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            1 bàn tròn
                        </li>
                        <li>
                            <span>
                                <img src="../../../assets/img/check.png" alt="">
                            </span>
                            Wifi 60mbs miễn phí
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class='swipper-3d'>
    <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <img class="img-fluid" src="../../../assets/img/carousel-mini-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <img class="img-fluid" src="../../../assets/img/carousel-mini-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <img class="img-fluid" src="../../../assets/img/carousel-mini-1.png" alt="">
                </div>
            </div>
        </div>

        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
<section class="service-livestream">
    <div class="service-livestream-content container">
        <div class="row">
            <div class="col-md-6">
                <div class="title pb-4">
                    <h2>Dịch vụ<br><span style="font-weight: 800; font-size: 70px">Bán hàng livestream</span><br>cho
                        shop</h2>

                </div>
                Cung cấp người mẫu đến tận shop để livestream quảng cáo sản phẩm
            </div>
            <div class="col-md-6 pt-4">
                <form action="">
                    <div class="form-input container">
                        <div class="row">
                            <input class="col-md-6" id="name" type="text" placeholder="Tên shop">
                            <input class="col-md-6" id="email" type="text" placeholder="Email">
                        </div>
                        <div class="row">
                            <input class="col-md-6" id="address" type="text" placeholder="Địa chỉ shop">
                            <input class="col-md-6" id="phone" type="text" placeholder="Số điện thoại">
                        </div>
                        <div class="row">
                            <input class="col-md-12" id="ques1" type="text" placeholder="Shop bán sản phẩm nào?">
                        </div>
                        <div class="row">
                            <input class="col-md-12" style="padding-bottom: 200px;" id="ques2" type="text" placeholder="Bạn có câu hỏi nào cho okiva không?">
                        </div>
                    </div>
                    <div class="btn-submit-form text-right">
                        <button type="submit" >Gửi ngay!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="deposit">
    <div class="container">
        <div class="title pb-5">
            <h1 style="font-weight: 800">Ký gửi hàng hoá<br><span>cho Okiva</span>ngay hôm nay</h1>
        </div>
        <div class="title">
            Đăng ký đơn giản và nhanh chóng Okiva giảm bớt nỗi lo<br>hàng tồn, hàng thanh lý, giúp bạn quảng bá sản
            phẩm và bán hàng hiểu quả hơn
        </div>
        <div class="btn-deposit pt-5">
            <button>Ký gửi ngay</button>
        </div>
        <div class="deposit-img">
            <img class="img-fluid" src="../../../assets/img/deposit.png" alt="">
        </div>

    </div>
</section>